<!DOCTYPE html>
<html>
<head>
	<title>Books`R`Us | Team Ruobin</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MjQzODllNjUtMzlkNy00YzgxLTk4YjgtOWU1NzJkYWFmNmJkNjM2MTQ5NTYzODUwODQyNjEx" data-autopop="false"></script>
	<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<header id="top_header" class="clearfix">
		<div class="wrapper">
			<h1 class="logo">Books<span>`R`</span>Us</h1>

			<a href="#" class="menu"><i class="fa fa-bars"></i></a>
			<div class="snipcart-summary">
				<nav id="main_nav">
					<a href="#">New</a>
					<a href="#">Top Grossing</a>
					<a href="#">Search</a>
					<a href="#" class='snipcart-checkout'>Cart (<span class="snipcart-total-price"></span>)</a>
				</nav>
			</div>
		</div>
	</header>

	<section id="banner" class="clearfix">
		<div id="banner_content_wrapper">
			<div id="poster">
				<img src="images/books/godfather.jpg" alt="Godfather cover art" class="featured_image">
			</div>
			<div id="content">
				<h2 class="title">The Godfather</h2>
				<div class="ratings">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star inactive"></i>
				</div>

				<!-- <p class="info"> SOLD OUT </p> -->
				<div class="buy">
				<p class="info">$10.00</p><button class="snipcart-add-item button" data-item-id = "2" data-item-price = "10.00" data-item-name="The Godfather" data-item-url="http://www.booksrus.com"> Buy now</button>
				</div>

				<p class="description">The Corleone family and the mob war fight with the other four mafia families in New York is the central issue. After Don Vito Corleone is shot by men working for drug dealer Virgil "The Turk" Sollozzo, Corleone's two sons, Santino and Michael, must run the family business with the help of consigliere Tom Hagen and the two caporegime Peter Clemenza and Salvatore Tessio.</p>
			</div>
		</div>
	</section>

	<section id="top_books" class="clearfix">
		<div class="wrapper">
			<header class="clearfix">
				<h2>Popular Books</h2>
				<p class="view_more">&nbsp;</p>
			</header>

			<div class="row clearfix">
				<div class="post">
					<img src="images/books/HP1.jpg" alt="HP1">
					<h3 class="title">HP1</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="images/books/HP2.jpg" alt="HP2">
					<h3 class="title">HP2</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="images/books/HP3.jpg" alt="HP3">
					<h3 class="title">HP3</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="images/books/HP4.jpg" alt="HP4">
					<h3 class="title">HP4</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="images/books/HP5.jpg" alt="HP5">
					<h3 class="title">HP5</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="images/books/HP6.jpg" alt="HP6">
					<h3 class="title">HP6</h3>
					<p class="post_info">$12.34</p>
				</div>
			</div>

		</div>
	</section>

	<section id="newsletter">
		<div class="newsletter_inner">
			<h2>Get the best selling books straight in your inbox each week.</h2>
			<div class="sign_up_form">
				<input type="text" placeholder="First Name">
				<input type="email" placeholder="Email Address">
				<button class="button">Subscribe</button>
			</div>
		</div>
	</section>

	<footer id="main_footer">
		<p class="logo">Books<span>`R`</span>Us</p>
		<p class="copyright">&copy;2016 Books`R`Us. All Rights Reserved.</p>
		<div class="links">
			<a href="#">Terms of Service</a>
			<a href="#">Privacy Policy</a>
		</div>
	</footer>
</body>
</html>