{% extends 'base_template.html' %}
{% block content %}

<section id="banner" class="clearfix">
    <div id="banner_content_wrapper">
        <div id="poster">
                <img src="{{url_for('static', filename='images/books/')}}{{ book.isbn13 }}.jpg" class="featured_image">
            </div>
            <div id="content">
                <h2 class="title">{{book["title"]}}</h2>
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star inactive"></i>
                </div>

                <p class="info"> {{book['author']}} | {{book['publisher']}}</p>
                <div class="buy">
                <p class="info">${{book.price}}</p><button class="snipcart-add-item button" data-item-id = "2" data-item-price = "{{book['price']}}" data-item-name="{{book.title}}" data-item-url="http://www.booksrus.com"> Buy now</button>
                </div>

                <p class="description">The Corleone family and the mob war fight with the other four mafia families in New York is the central issue. After Don Vito Corleone is shot by men working for drug dealer Virgil "The Turk" Sollozzo, Corleone's two sons, Santino and Michael, must run the family business with the help of consigliere Tom Hagen and the two caporegime Peter Clemenza and Salvatore Tessio.</p>
            </div>
    </div>
</section>

{% if feedbackform %}
<div>
    <h1>Submit Feedback</h1>
    <form id="feedbackform" class="form form-feedback" method="POST" action="" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            {{feedbackform.short_text(placeholder="Short text", class_="form-control")}}
        </div>
        <div class="form-group">
            {{feedbackform.score(placeholder="Score", class_="form-control")}}
        </div>
        {{feedbackform.submit(placeholder="Score", class_="form-control", type="hidden", value="submit")}}
        <p><input class="btn btn-default btn-submit" type="submit" value="Submit Feedback"></p>
    </form>
</div>
{% endif %}
<div role="main">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="row">
<div class="col-md-12">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
   {{message}}
  </div><!-- end .alert -->
  {% endfor %}
</div><!-- end col-md -->
</div><!-- end row -->
  {% endif %}
{% endwith %}
</div>
<div>
    <h1>Reviews</h1>

    {% if reviews %}
        {% for review in reviews %}
            <p>{{ review.user_id }} {{ review.short_text }} {{ review.score }}</p>
            <!-- also need to check if a rating by user already exists for the feedback -->
            {% if current_user.id == review.user_id %} NO RATING ALLOWED FOR YOUR OWN REVIEW! {% endif %}
            {% if review.has_rated(current_user.id) %} You have already rated this feedback/review {% endif %}
            <p><a href="">useless +0</a> <a href="">useful +1</a> <a href="">very useful +2</a>  <span>rating: (total) {{ review.ratings }}</span></p>
        {% endfor %}
    {% endif %}
    {% endblock %}

</div>

<div>
    {{ book['isbn13'] }}
    {{ book['title'] }}
    {{ book['author'] }}
    {{ book['publisher'] }}
    {{ book['year_of_pub'] }}
    {{ book['num_of_copies'] }}
    ${{ book['price'] }}
</div>


</body>
</html>