{% extends "base_template.html"%}
{% block content %}

<h1>New Order</h1>
<br/>
<form id="addOrderForm" class="form form-register" method="POST" action="" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            {{form.qty(placeholder="QTY_OF_BOOK", class_="form-control")}}
        </div>
        <p><input class="btn btn-default btn-submit" type="submit" value="Add"></p>
</form>

{% if recommendations %}
<h2>Recommendations</h2>

<div>
  {% for book in recommendations %}
      {{book.title}} <br>
      {{book.author}} <br>
      {{book.isbn13}} <br>
      {{book.format}} <br>
      {{book.subject}} <br>
      {{book.year_of_pub}} <br>
      {{book.publisher}} <br>
      {{book.price}} <br>
  {% endfor %}
</div>
{% endif %}



<div role="main">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="row">
<div class="col-md-12">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
   {{message}}
  </div><!-- end .alert -->
  {% endfor %}
</div><!-- end col-md -->
</div><!-- end row -->
  {% endif %}
{% endwith %}
</div>

{% endblock %}