{%extends "base_template.html"%}
	{% block content %}

	<section id="banner" class="clearfix">
		<div id="banner_content_wrapper">
			<div id="poster">
				<img src="{{url_for('static', filename='images/books/')}}godfather.jpg" alt="Godfather cover art" class="featured_image">
			</div>
			<div id="content">
				<h2 class="title">The Godfather</h2>
				<div class="ratings">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star inactive"></i>
				</div>

				<!-- <p class="info"> SOLD OUT </p> -->
				<div class="buy">
				<p class="info">$10.00</p><button class="snipcart-add-item button" data-item-id = "2" data-item-price = "10.00" data-item-name="The Godfather" data-item-url="http://www.booksrus.com"> Buy now</button>
				</div>

				<p class="description">The Corleone family and the mob war fight with the other four mafia families in New York is the central issue. After Don Vito Corleone is shot by men working for drug dealer Virgil "The Turk" Sollozzo, Corleone's two sons, Santino and Michael, must run the family business with the help of consigliere Tom Hagen and the two caporegime Peter Clemenza and Salvatore Tessio.</p>
			</div>
		</div>
	</section>

	<section id="top_books" class="clearfix">
		<div class="wrapper">
			<header class="clearfix">
				<h2>Popular Books</h2>
				<p class="view_more">{% if books.has_prev %}
					<a href="{{ url_for('public.home', page=books.prev_num) }}" class="active_back">&lt;&lt; Previous books</a>
					{% else %}&lt;&lt;  Previous books
					{% endif %} |
					{% if books.has_next %}
					<a href="{{ url_for('public.home', page=books.next_num) }}" class="active_forward">More books &gt;&gt;</a>
					{% else %}More books &gt;&gt;
					{% endif %}
				</p>
			</header>

			<div class="row clearfix">

				{% for book in books.items %}
				<div class="post">
					<img src="{{url_for('static', filename='images/books/')}}{{ book.isbn13 }}.jpg" alt="HP1">
					<h3 class="title">{{ book.title }}</h3>
					<p class="post_info">{{ "${:.2f}".format(book.price) }}</p>
				</div>
				{% endfor %}

<!-- 				<div class="post">
					<img src="{{url_for('static', filename='images/books/')}}HP1.jpg" alt="HP1">
					<h3 class="title">HP1</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="{{url_for('static', filename='images/books/')}}HP2.jpg" alt="HP2">
					<h3 class="title">HP2</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="{{url_for('static', filename='images/books/')}}HP3.jpg" alt="HP3">
					<h3 class="title">HP3</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="{{url_for('static', filename='images/books/')}}HP4.jpg" alt="HP4">
					<h3 class="title">HP4</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="{{url_for('static', filename='images/books/')}}HP5.jpg" alt="HP5">
					<h3 class="title">HP5</h3>
					<p class="post_info">$12.34</p>
				</div>

				<div class="post">
					<img src="{{url_for('static', filename='images/books/')}}HP6.jpg" alt="HP6">
					<h3 class="title">HP6</h3>
					<p class="post_info">$12.34</p>
				</div>
			</div>
		</div> -->
	<!-- book nav -->
	</section>

	<section id="newsletter">
		<div class="newsletter_inner">
			<h2>Get the best selling books straight in your inbox each week.</h2>
			<div class="sign_up_form">
				<input type="text" placeholder="First Name">
				<input type="email" placeholder="Email Address">
				<button class="button">Subscribe</button>
			</div>
		</div>
	</section>
	{% endblock %}
