{%extends "base_template.html"%}

{%block content%}
    <section id="banner" class="clearfix">
        <div id="banner_content_wrapper">
            <div class='member_headers'>
                Username: <br>
                Email ID: <br>
                Credit Card Number: <br>
                Phone Number: <br>
            </div>
            <div class="member_info">
                {{current_user.id}} <br>
                {{current_user.email}} <br>
                {{current_user.m_credit_no}} <br>
                {{current_user.phone_no}} <br>
            </div>
        </div>
    </section>

    <section id="" class="clearfix">
        <div id="">
            {% if current_user.reviews %}
            <h2>Reviews you have given</h2>
            <div>
                {% for review in current_user.reviews %}
                    <p>{{ review.user_id }} {{ review.short_text }} {{ review.score }}</p>
                    <p><a href="">useless +0</a> <a href="">useful +1</a> <a href="">very useful +2</a>  <span>rating: (total)</span></p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>

    <section id="" class="clearfix">
        <div id="">
            {% if useful_feedback %}
            <h2>Ratings you have given</h2>
            <div>
<!--                 {% for rating in current_user.ratings_given %}
                    <p>{{ review.user_id }} {{ review.short_text }} {{ review.score }}</p>
                    <p><a href="">useless +0</a> <a href="">useful +1</a> <a href="">very useful +2</a>  <span>rating: (total)</span></p>
                {% endfor %} -->
            </div>
            {% endif %}
        </div>
    </section>
{%endblock%}
