{% extends "base_template.html"%}
{% block content %}
<section id="banner" class="clearfix">
    <div id="banner_content_wrapper">
          <h1 class='header login_header'>Login</h1>
        <div id="poster">
          <form id="loginForm" method="POST" class="navbar-form form-inline navbar-right" action="" role="login">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
              {{ form.username(placeholder="Username", class_="form-control") }} <br>
              {{ form.password(placeholder="Password", class_="form-control") }}
            </div>
            <input type="submit" class="button" value="Log in"></button>
          </form>

          <div role="main" class='stuff_for_errors'>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                <!-- <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a> -->
               <label class="{{category}}">{{message}}</label>
              </div><!-- end .alert -->
              {% endfor %}
              {% endif %}
          {% endwith %}
          </div>
        </div>
        </section>
{% endblock %}