{%extends "base_template.html"%}

{%block content%}
    <section id="banner" class="clearfix">
        <div id="banner_content_wrapper">
            <div class='member_headers'>
                Username: <br>
                Email ID: <br>
            </div>
            <div class="member_info">
                {{current_user.id}} <br>
                {{current_user.email}} <br>
            </div>
        </div>
    </section>


    <section id="admin" class="clearfix">
            <h2>Add Book </h2>
            <div id="content">
                <a href="{{url_for('book.add_book')}}"> Add Book</a>
            </div>
            <hr>
    </section>

    <section id="admin" class="clearfix">
            <h2>Update Book </h2>
            <div id="content">
                <input type="text" placeholder="ISBN13" class="isbn13"/>
                <a href="" class=' update'> Update Book</a>
            </div>
            <hr>
    </section>

    <script>
        $(document).ready(function() {
            $(".isbn13").change(function() {
                var new_url = "/book/update/" + $(".isbn13").val();
                $('.update').attr('href', new_url);
            });
        });
    </script>

    <section id="admin" class="clearfix">
            <h2>Statistics</h2>
            <div id="content">
                <a href="{{url_for('orders.pop_books')}}" class="pop_link">Popular Books</a>
                <a href="{{url_for('orders.pop_authors')}}" class="pop_link">Popular Authors</a>
                <a href="{{url_for('orders.pop_publishers')}}" class="pop_link">Popular Publishers</a>
            </div>
            <hr>
    </section>

{%endblock%}
